.container {
    max-width: 1246px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.top_mnu > ul > li {
    display: inline-block;
    margin-right: 42px;
}

.top_mnu ul li:last-child {
    margin-right: 0;
}

.top_mnu ul li a {
    font-size: 14px;
    line-height: 16px;
    color: #fff
}

.top_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.top_line .block {
    align-items: center;
}

.logo {
    margin-right: 80px;
}

.btn {
    border: 1px solid rgba(255, 255, 255, 0.50);
    box-sizing: border-box;
    width: 213px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    font-family: "Montserrat";
}

.lang {
    margin-left: 40px;
}

.lang ul li {
    display: inline-block;
    padding-left: 5px;
    position: relative;
}

.lang ul li a {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
}

.lang ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 14px;
    width: 1px;
    background-color: #fff;
}

.lang ul li:first-child::before {
    display: none;
}

.top_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.top_line {
    padding: 30px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.main-swiper .swiper-slide {
    height: 768px;
    background-size: cover;
    background-position: center;
}

.main-swiper .swiper-slide .text-wrap h2 {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 30px;
}

.main-swiper .swiper-slide .text-wrap p {
    color: #FFF;
    font-family: 'Raleway';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 40px;
}

.main-swiper .swiper-slide .text-wrap a {
    color: #EEC48B;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid #EEC48B;
}

.main-swiper .swiper-slide {
    position: relative;
}

.main-swiper .swiper-slide .text-wrap {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    max-width: 1246px;
    margin: 0 auto;
    width: 100%;
}

.btn2 {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.main_slider_sec {
    position: relative;
}

.btns_block {
    position: absolute;
    right: 0;
    bottom: 75px;
    z-index: 1;
}

.btn_comparison {
    position: relative;
}

.comparison_num {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
    color: white;
    position: absolute;
    left: -10px;
    top: -10px;
    background-color: #EEC48B;
}


.main_slider_sec{
    position: relative;

}
.btns_block{
    position: absolute;
    right: 0;
    bottom: 75px;
    z-index: 1;
}

.btn_comparison{
    position: relative;
}

.comparison_num{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
    color: white;
    position: absolute;
    left: -10px;
    top: -10px;
    background-color: #EEC48B;
}

.review-swiper .swiper-slide p{
    color: #FFF;
    text-align: center;
    font-family:" Raleway";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 30px */ 
    margin: 0 auto;
    max-width: 608px;
    opacity: 0.7s;   
    position: relative;
    padding-bottom: 50px;
}

.review-swiper .swiper-slide p::before{
    position: absolute;
    content: "";
    background-image: url("../images/quote.svg");
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 20px;
    height: 20px;
    
}
.review-swiper .swiper-slide h3{
    color: var(--Accent-color, #EEC48B);
    font-family: "Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-transform: uppercase;   
    text-align: center;
    padding-top: 40px;
}
.sec7 h2{
    text-align: center;
    padding-bottom: 80px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

section.sec7{
    padding: 100px 0;
    position: relative;
    text-align: center  ;
}

.swiper-nav div{
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.review-button-prev{
    left: 105px;
    
}
.review-button-next{
    right: 105px;
    
}


.sec5 {

    margin-top: 150px;
    
    margin-left: 115px ;

} 
.container {
    position: relative;
    grid-template-columns: 1fr 1fr; 
    column-gap: 111px; 
    align-items: center;
    margin-left: 50px;

}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.rectangle_image {
    width: 608px;
    height: 395px;
    flex-shrink: 0;
}

.sec5_text{
    
    display: flex;
    width: 472px;
    justify-content: flex-end;
    flex-wrap: wrap;
    top: 200px;

}

.sec5_text h2 {
    width: 472px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.sec5_text p{
    width: 472px;
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;     
}
.sec5_text a {
    color: var(--Accent-color, #EEC48B);
    font-family: "Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    border-bottom: 1px solid #EEC48B;
    /* padding-bottom: 10px; */
}


.sec5_text h2,
.sec5_text p,
.sec5_text a {
    max-width: 100%;

}

.main-swiper .swiper-slide .text2-wrap  {
    margin-left:166px ; 
    padding-top: 90px;
    margin-top: 90px;
}


.main-swiper .swiper-slide .text2-wrap h2 {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 30px;
}

.main-swiper .swiper-slide .text2-wrap p {
    color: #FFF;
    font-family: 'Raleway';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 40px;
}

.main-swiper .swiper-slide .text2-wrap a {
    color: #EEC48B;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid #EEC48B;
}
.sec8 h2{
    text-align: center;
    padding-bottom: 80px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

section.sec8{
    padding: 100px 0;
    position: relative;
    text-align: center  ;
    background: #333;
}
.sec9{
    background-image: url("/images/map.png");
    width: 1366px;
    height: 476px;
    flex-shrink: 0;    
}

@media screen and (max-width: 480px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .sec5_text {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
    }

    .rectangle_image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .main_slider_sec {
        padding-top: 40px;
    }

    .text2-wrap {
        margin-left: 0;
        text-align: center;
        padding-top: 20px;
        margin-top: 20px;
    }
}

/* Для ширины экрана от 481px до 767px */
@media screen and (min-width: 481px) and (max-width: 767px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .sec5_text {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
    }

    .rectangle_image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .main_slider_sec {
        padding-top: 40px;
    }

    .text2-wrap {
        margin-left: 0;
        text-align: center;
        padding-top: 20px;
        margin-top: 20px;
    }
}

/* Для ширины экрана от 768px до 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .sec5_text {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
    }

    .rectangle_image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .main_slider_sec {
        padding-top: 40px;
    }

    .text2-wrap {
        margin-left: 0;
        text-align: center;
        padding-top: 20px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
}

@media screen and (min-width: 1280px) {
} 
